@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.hero-container-about{
  background: linear-gradient(11.59deg, #0052A0 8.92%, rgba(0, 30, 58, 0) 83.16%);
}

.hero-container-aboutsecond{
  background: linear-gradient(7.03deg, #0052A0 5.76%, rgba(0, 30, 58, 0) 55.22%);
}